.splash {
  background-image: linear-gradient(to bottom,rgba(249,241,220, 0.90), rgba(249,241,220, 0.90)),url("/doodle.jpg");
  width: 100%;
 height: auto;
 margin: 0;
 padding: 0;
 position: relative;
 background-size:cover;
 background-repeat: no-repeat;
}

.circular-square {
  margin-left: 15px;
  border-radius: 50%;
  width: 300px;
  border: 5px solid #195216;;
  padding: 1px;
}

.step {
  padding-bottom: 50px;
}

.list-container {
  display: flex;
}

.list-left {
  justify-content: left;
  max-width: 500px;
  font-size: larger;
}

.list-right {
  justify-content: right;
  max-width: 500px;
  font-size: larger; 
  padding-left: 50px;
}

.gif {
  width: 400px;
  height: auto;
}


.splash-container {
   margin: auto;
  width: 90%;
  font-size: larger;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.welcome {
  font-family: 'Finger Paint';
  margin: 20px;
  color:#195216;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 50px;
}

.header2 {
    color:#195216;
    font-family: 'Finger Paint';
    font-size: larger;
     align-items: center;
     margin-bottom: 0em;
}


.list-splash {
  padding: 15px;
  font-family: sans-serif;
  font-weight: bolder;
  list-style-type: none;
  list-style-type: decimal;
  margin-top: 0;
}


.first-paragraph{
  list-style-type: none;
  max-width: 700px;
  text-align: center;
  font-size: larger;
    font-family: sans-serif;
  font-weight: bolder;
}